body {
    color: #003F3F;
}

.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
}

.on_container {
    margin: 0 auto;
}

.my-flex-block {
    display: inline-flex;
    margin: 0 auto;
}

.field {
    margin: 0;
    display: inline-block;
}

.field-line {
    clear: both;
}

.field-line > div {
    width: 17px;
    height: 17px;
    background-color: #009999;
    margin: 0 2px 2px 0;
    float: left;
    border-radius: 2px;
}

.statistics {
    font-size: 20px;
    background-color: #009797;
    padding: 25px;
    margin-left: 4px;
    height: 260px;
    width: 180px;
    border-radius: 4px;
    display: inline-block;
}

.best_game {
    margin-bottom: 30px;
}

body {
    background-color: #5CCCCC;
}
